body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.jumbotron {
	background: #eee;
	margin-bottom: 0;
	padding-bottom: 0;
	min-height: 600px;
	height: 100%;
}

.jumbotron p.small{
	font-size: 14px;
	margin-left: 75px;
	margin-bottom: 0;
}

.container {
	background: #fff;
	padding: 0;
}

.nav-tabs {
	background: #42a5f5;
}

h1, p, a {
	color: black
}

.nav-tabs>li>a {
	margin-right: 0;
}

.tab-content {
	min-height: 600px;
	padding: 20px;
}

.nav-tabs>li>a {
	color: white;
}

.nav-tabs>li.active>a {
	color: #00b6f1;
}

.not-rounded {
	border-radius: 0 !important;
}

.dropdown {
	margin-bottom: 30px
}

.rec-div {
	margin-bottom: 25px;
}

.rec-image {
	width: 60px;
}

.rec-label {
	display: inline;
	font-size: 22px;
	padding-left: 15px;
}

.rec-divider {
	padding: 2px;
	background-color: #ea80fc;
	margin: 7px 0;
}