.tile {
	width: 60px;
	height: 60px;
	font-size: 16px;
	border: 1px solid blue;
	background-color: skyblue;
	box-sizing: border-box;
	transition: 1s transform;
	transform-origin: top center;
	float: left;
	margin-right: 5px;
	position: relative;
	backface-visibility: hidden;
}

#hover {
	background-color: teal;
}

.content {
	width: 200%;
	height: 200%;
	transform: scale(.5) translateZ(0px);
	transform-origin: top left;
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 5px;
	color: white;
	background-color: mediumpurple;
	opacity: 0;
	touch-action: none;
	transition: opacity 1s;
}

#hover:hover {
	transform: scale(2);
}

#hover:hover .overlay {
	opacity: 1;
	touch-action: auto;
	transform: scale(1)
}

.shiftLeft { 
	transform: translate3d(-30px, 0, 0);
}

.shiftRight { 
	transform: translate3d(30px, 0, 0);
}