<!DOCTYPE html>
<html lang="en">

<head>
    <title>Recommendations Demo</title>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/new_demo.css">

    <!-- JavaScript Dependencies -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>

<body>
    <!--Header-->
    <div class="res-navbar-wrapper">
        <nav class="navbar navbar-default res-navbar">
            <div class="container-fluid">
                <div class="navbar-header res-center-xs">
                    <a class="navbar-brand" href="/new_demo">
                        <img class="res-logo" alt="Resdiary Recommendations" src="../../../img/res_logo.png">
                    </a>
                </div>
                <h2 class="navbar-right res-nav-title res-hidden-xs">Recommendations Demo</p>
            </div>
            <div class="res-navbar-header-extra"></div>
        </nav>
    </div>
    <!--//Header-->

    <!--Main Content-->
    EXPAND AND DETAIL FURTHER

    <h2><%=restaurant.Restaurant.Name %></h2>    

    <!--//Main Content-->
</body>
<script>

</script>
